.navbar-container {
  /* border: 1px solid black; */
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  max-height: 68px;
  display: flex;
  justify-content: space-between;
}

.navbar-logo-image {
  margin: 2px 10px;
  height: 51px;
}

.navbar-userdata {
  display: flex;
  margin: 10px 20px 0px 0px;
  gap: 10px;
  line-height: normal;
}

.navbar-userdata:hover {
  cursor: pointer;
}

.navbar-userdata svg {
  margin-top: 5px;
}

.hamburger-icon {
  display: none;
}

@media (max-width: 850px) {
  .hamburger-icon {
    display: block;
    font-size: 18px;
    margin-top: 5px;
  }
}