.runbook-detail-container {
  margin: 25px;
  margin-top: 10px;
  width: 100%;
}
.runbook-detail-header {
  min-height: 47px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.runbook-detail-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.runbook-detail-card {
  width: 175px;
}
.runbook-doc-viewer{
  height: 70vh!important;
  margin-top: 10px; 
}
 .add-delete-automation{
  display: none;   
}
@media (max-width: 1000px) {
  .runbook-doc-viewer{
    height: 50vh!important;
    margin-top: 10px; 
  }
  .add-delete-automation{
    margin-top: 20px;
    display: flex;
    gap:20px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
 
  .runbook-doc-viewer{
    height: 50vh!important;
    margin-top: 10px; 
  }
  .runbook-detail-card-container {
   justify-content: center;
  }
}
