
.content{
    min-height : 90vh;
    text-align: center;
    padding-left: 10px;
}
.sider{
    text-align: center;
    height: auto;
}
@media (max-width: 850px) {
    .siderVisible{
        display: block;
       
       
    }
    .notSiderVisible{
        display: none;
    }
    .sider{
        text-align: center;
        height: auto;
        width: 100%;
            flex: none !important;
    max-width: none!important;
    min-width: 200px;
    width: 100%!important;

    }
  }
  
