.import-button-dashboard{
    border-radius: 15px;
border: 1px solid #000;
background: #486AC0;
box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.75);
width: 150px;
height: 48px;
flex-shrink: 0;
font-size: 24px;
}
.search-import-div{
    background-color:#282525;
     height:67px;
     align-items:center;
      margin-left:10px;
      margin-top:17px;
       box-shadow: 0px 4px 19px 0px #000
       ;
       display: flex;
       justify-content: space-between;
       
}
.search-runbooks {
    
    border-radius: 15px;
border: 1px solid #000;
background: #434445;
box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.75);
padding: 7px;
    
}   
 .ant-input-group-wrapper{
    
    width: 260px!important;
}
.search-runbooks .ant-input-group .ant-input-group-addon{
    border : none;
    cursor: pointer;
    font-size: 24px;
    background: #434445;
}
.search-runbooks .ant-input-group .ant-input{
background-color: #434445;;
border: none;

}
.search-runbooks .ant-input::placeholder{
    color: #fff;
font-size: 24px;
font-style: normal;
font-weight: 100;
line-height: normal;
opacity: 0.6;
margin-top: 5px;
}
.search-runbooks .ant-input:placeholder-shown{
    margin-top: 5px!important;
}
.card-container-aws{
    position: relative;
     display:flex;
     flex-wrap: wrap;
     gap: 30px;
     margin-top:40px ;
     margin-bottom:40px ;
}
.card-aws-title{
    margin-top: 0px;
    color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.table-aws-title{
    color: #FFF;
text-align: center;
width: 200px;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.table-aws-date{
    color: #FFF;
text-align: center;
width: 250px;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.card-aws-date{
color: #FBC001;

font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;}
.card-aws-description{
    color: #FFF;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
 .ant-table-thead > tr > th {
    /* Add padding to the table header to create a gap */
    padding-bottom: 20px; /* Example: 20px of spacing below each header cell */
  }
  
  .ant-table-tbody > tr > td {
    /* Add padding to the table body to create a gap */
    padding-top: 20px; /* Example: 20px of spacing above each body cell */
  }