.content {
  min-height: 90vh;
  text-align: center;
  padding-left: 10px;
}
.sider {
  text-align: center;
  height: auto;
}
@media (max-width: 900px) {
  .siderVisible {
    display: block;
    max-width: 100%!important;
    width: 100%!important;
    min-width: 100%!important;
  }
  .notSiderVisible {
    display: none;
  }
}
