.total-runbook{
    height: auto;
    padding : 10px;
    /* border: 1px solid red;     */
}
.total-runbook-15{
    color: #FBC001;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.total-runbook-text{
color: #C2C0C0;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;}